piranha
.DS_Store
piranha-debug
*.o
*.swp
*.swo
.nfs*
*.ipynb_checkpoints
*/MNIST/*
*/CIFAR10/*
tags
output/
output/*
debug/
files/skynet_lan_ips
files/skynet_wan_ips
files/IP_LAN
files/IP_WAN
scripts/*cifar-10*
*.png
*.ipynb
experiments/results/fig4
experiments/results/fig5
experiments/results/fig6
experiments/results/fig7
experiments/results/table2
experiments/results/table3
experiments/results/table4
experiments/runfiles/ip_piranha
experiments/runfiles/ip_mpspdz
experiments/runfiles/hosts.yml
